@font-face {
  font-family: intfree;
  src: url('../assets/font/INKFREE.TTF')
}
.loginbac {
  width: 100%;
  height:100%;
  background: -webkit-linear-gradient(45deg, #20a3ff,#08efd7); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(45deg, #20a3ff,#08efd7); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(45deg, #20a3ff,#08efd7); /* Firefox 3.6 - 15 */
  background: linear-gradient(45deg, #20a3ff,#08efd7);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  position: relative;
}
.logo{
  max-width: 240px;
  width:30%;
  display: block;
  margin: 0px auto 60px auto;
}
.loginbox{
  width:90%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 36px 24px 12px 24px;
  overflow: visible;
  position: relative;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  margin-bottom: 10%;
  z-index: 99999; 
}
.loginbox .icongroup{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top:-6px;
  opacity: 0.8;
}
.loginbox .icongroup img{
  width:20px;
}
.timetable{
  position: absolute;
  left:20px;
  top:10px;
  font-family: intfree;
  color:#ffffff;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  padding-bottom: 12px; 
}
.zifu{
  width:10px;
  border-radius: 4px;
  float: left;
  text-align: center;
  height: 24px;
  line-height: 24px;
}
button,img{
  display:block
}
.footer{
  color: #ffffff;
  position: absolute;
  bottom: 12px;
  font-family: intfree
}
.logos{
  max-width:120px;
  width:40%;
  margin: 20px auto
}
.indexrow{
  margin-top: 36px;
}
.indexcol:hover{
  background-color:rgba(0,0,0,0.1)
}
.indexcol p{
  margin-top: 1em;
}
.indexheader{
  background-color: #ffffff !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.indexheader img{
  background-color: #ffffff;
  width: 100px;
  cursor: pointer;
}
.flexrow{
  display: flex;
  align-items: center;
}
.flexcolumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.indexcontent{
  flex:1;
  overflow: hidden;
  padding: 12px;
}
.indexfooter{
  padding: 0px;
}
.indexfooter p{
  font-family: intfree;
  text-align: center
}

/*404*/
.notfound{
  width: 60%;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.tip{
  margin-top: 36px;
  line-height: 40px;
  font-size: 24px;
  font-weight: lighter;
  text-align: center
}
.tip a{
  font-size: 13px;
}
.notfound>img:first-child{
  position: absolute;
  left:-30%;
  top:45%;
  width: 15%;
  animation: myanimate 16s linear 2s infinite ;
}
.notfound>img:nth-child(2){
  position: absolute;
  left:-30%;
  top:10%;
  width: 25%;
  animation: myanimate 18s linear 1s infinite ;
}
.notfound>img:nth-child(3){
  position: absolute;
  left:-30%;
  top:70%;
  width: 12%;
  animation: myanimate 12s linear  infinite ;
}
.notfoundbac{
  margin: 0 auto;
  width:100%;
}

@keyframes myanimate{
  from{
    left: -30%;
  }to{
    left:100%
  }
}

.iconp{
  text-align: center;
  margin: 0;
}
.flexcolumn:hover .iconp{
  color:#1bbcff
}
.banner{
  margin:6px 6px 12px 6px;
  background:url(../assets/images/timg.jpg) no-repeat;
  background-size:cover;
  background-position:left center;
  position:relative;
  overflow: hidden;
}
.model1 :global .ant-card-body{
  padding: 10px !important;
}
:global .ant-upload-list-item-info > span {
	display: block;
	height: 100%;
}
:global .ant-upload-list-picture-card .ant-upload-list-item {
	float: left !important;
	width: 30% !important;
  height:100px;
  max-width:120px;
	margin: 4px !important;
}
:global .ant-upload.ant-upload-select-picture-card {
  width: 30% !important;
  height:100px;
  max-width:120px;
  float: left !important;
  margin: 4px !important;
}
:global .ant-upload-list-picture-card{
  float: none !important
}
.setcard ul{
  background-color: transparent !important;
}
.setcard p,.setcard a{
  color: #ffffff !important;
}
.setcard input,.setcard textarea{
  background-color: transparent !important;
  color: #ffffff;
}
.Icons{
  width:300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #999 dashed 1px;
  font-size: 20px;
  cursor: pointer;
}














